/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

/* Estilos del menú */
nav {
    background-color: #333;
    color: #fff;
    text-align: center; /* Centrar elementos horizontalmente */
    width: 100%; /* Hacer el menú más ancho */
    height: 55px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block; /* Permite centrado vertical */
    line-height: 40px; /* Centrado vertical */
    text-align: center; /* Centrado horizontal */
}

/* Cambiar color de fondo al pasar el mouse */
a:hover {
    background-color: #555;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.contenedor-galeria{
    display: grid;
    justify-content: space_evenly;
    flex-wrap: wrap;
	grid-template-columns: repeat(3,1fr);
}
	


.img-galeria{
	width: 100%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	cursor: pointer;
}

.imagetext{
	color: white;
	text-align: center;

}

.contenedor-total{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
}

.gallery{
	background: black;
}
	
.subtitulo{
	color: white;
	text-align: center;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00001b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  z-index: 100;
}

.logo img {
  height: 50px;
}

.logo ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; 
  flex-grow: 1;
}

.logo li {
  margin-right: 20px;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
}
