body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px; /* Espacio interior (padding) en píxeles */
}


a:hover {
    background-color: #555;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del menú */
nav {
    background-color: #333;
    color: #fff;
    text-align: center; /* Centrar elementos horizontalmente */
    width: 100%; /* Hacer el menú más ancho */
    height:100%
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

/* Cambiar color de fondo al pasar el mouse */
a:hover {
    background-color: #555;
}
