body {
            background-color: #000000;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            background-color: #6699ff;
            color: #FFF;
            padding: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        li {
            background-color: #FFF;
            padding: 25px;
            margin: left;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            display: inline-block;
            vertical-align: top;
            width: 35%;
        }

        ul ul {
            list-style-type: disc;
            margin-top: 10px;
            margin-left: 20px;
        }

        p {
            margin: 10px 0;
        }

.hi {
    font-family: "Amatic SC", sans-serif;
}
.element {
    float: left;
}
.contenedor {
    text-align: center;
    font-weight: bold;
    font-family: "Merriweather", sans-serif
}

}
