/* Estilos para el título */
.title {
    font-family: "Verdana", sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    background-color: #6699ff;
    padding: 10px;
}

/* Estilos para las secciones de Ofertas Lunes y Ofertas Viernes */
.section {
    background-color: #000000;
    padding: 20px; /* Espaciado interior de las secciones */
    margin: 20px 0; /* Margen exterior de las secciones (arriba y abajo) */
    border: 1px solid #ccc; /* Borde alrededor de las secciones */
    border-radius: 5px; /* Redondear las esquinas de las secciones */
}

/* Estilos para los paquetes */
.package-container {
    display: flex;
    justify-content: space-around;
}

.package-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.package {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    width: 30%;
}

/* Estilos para los títulos de paquetes */
.package-title {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para las descripciones de paquetes */
.package-description {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

/* Estilos para los sub-paquetes */
.sub-package-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sub-package {
    margin-top: 20px;
}

/* Estilos para los títulos de sub-paquetes */
.sub-package-title {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
